<table class="table table-dark table-striped w-50 p-3">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Initiative Bonus</th>
            <th scope="col">Player Character?</th>
            <th scope="col">Hostile to Players?</th>
        </tr>
    </thead>
    <tbody>
        {{#each characters}}
        <tr>
            <td><a href="/characterdetails?charID={{charID}}">{{name}}</a></td>
            <td>{{initiativeBonus}}</td>
            <td>{{playerCharacter}}</td>
            <td>{{hostileToPlayer}}</td>
            <td>
                <form action='/charactersdelete' method="post">
                    <input type="hidden" name="charID" value="{{charID}}">
                    <input type="submit" name="Delete" value="Delete">
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="charID" value="{{charID}}">
                    <input type="submit" name="Edit" value="Edit">
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<h1>Add a new Character:</h1>
<form action='/characters' method='post' class="row">
    <div class="mb-3 col-4">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>

    <div class="mb-3 col-4">
        <label class="form-label">Initiative Bonus</label>
        <input type="text" class="form-control" id="initiativeBonus" name="initiativeBonus">
    </div>
    <div class='container'>
        <div class="row">
            <div class='col-4'>
                <div>
                    <lable>Character Control:</lable>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="playerCharacter" id="pc" value='1'>
                    <label class="form-check-label" for="playerCharacter">
                        Player Controlled Character
                    </label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="playerCharacter" id="npc" value='0'>
                    <label class="form-check-label" for="playerCharacter">
                        Non-Player Controlled Character
                    </label>
                </div>
            </div>
            <div class='col-4'>
                <div>
                    <lable>Hostile Towards:</lable>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="hostileToPlayer" id="hostile" value='1'>
                    <label class="form-check-label" for="hostileToPlayer">
                        Players
                    </label>
                </div>
                <div>
                    <input class="form-check-input" type="radio" name="hostileToPlayer" id="notHostile" value='0'>
                    <label class="form-check-label" for="hostileToPlayer">
                        Non-Players
                    </label>
                </div>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </div>
</form>