<div class="container">
    <h6>Select a character from the drop down menu to display this character's conditions and items.</h6>
</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
        aria-expanded="false">
        Select Character
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {{#each characters}}
        <li><a class="dropdown-item" href="characterdetails?charID={{charID}}">Character #{{charID}}: {{name}}</a></li>
        {{/each}}
    </ul>
</div>
<h1>{{selectedCharacter.[0].name}}</h1>
<table class="table table-dark table-striped w-50 p-3">
    <caption>The selected character is affected by these conditions</caption>
    <thead>
        <tr>
            <th scope="col">Condition Name</th>
            <th scope="col">Effect</th>
        </tr>
    </thead>
    <tbody>
        {{#each conditions_characters}}
        <tr>
            <td>{{name}}</a></td>
            <td>{{effect}}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="charID" value="{{name}}">
                    <input type="submit" name="Remove" value="Remove">
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="charID" value="{{name}}">
                    <input type="submit" name="Edit" value="Edit">
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


<table class="table table-dark table-striped w-50 p-3">
    <caption>The selected character is holding these items</caption>
    <thead>
        <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Effect</th>
            <th scope="col">Type</th>
            <th scope="col">Quantity</th>
            <th scope="col">Is it Magic?</th>
        </tr>
    </thead>
    <tbody>
        {{#each character_items}}
        <tr>
            <td>{{name}}</td>
            <td>{{effect}}</td>
            <td>{{type}}</td>
            <td>{{quantity}}</td>
            <td>{{isMagic}}</td>
            <td>
                <form method="post">
                    <input type="hidden" name="charID" value="{{itemID}}">
                    <input type="submit" name="Remove" value="Remove">
                </form>
            </td>
            <td>
                <form method="post">
                    <input type="hidden" name="charID" value="{{itemID}}">
                    <input type="submit" name="Edit" value="Edit">
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h1>Add a Condition to this Character:</h1>
<form class="row">
    <div class="col-4">
        <label class="form-label">Condition</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Please Select</option>
            {{#each conditions}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="col my-auto col-2">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
</form>

<h1>Add an Item to this Character:</h1>
<form class="row">
    <div class="col-4">
        <label class="form-label">Item</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Please Select</option>
            {{#each items}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="col my-auto col-2">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </div>
</form>