<h1>Update This Item:</h1>
<form id="update-item" action="/items" method="post" class="row">
    <div class="mb-3 col-4">
        <label class="form-label">Name (required)</label>
        <input type="text" class="form-control" id="name" name="name" value="{{selectedItem.name}}">
    </div>

    <div class="mb-3 col-4">
        <label class="form-label">Effect (optional)</label>
        <input type="text" class="form-control" id="effect" name="effect" value="{{selectedItem.effect}}">
    </div>

    <div class="mb-3 col-4">
        <label class="form-label">Type (optional)</label>
        <input type="text" class="form-control" id="type" name="type" value="{{selectedItem.type}}">
    </div>

    <div class="mb-3 col-4">
        <label class="form-label">Quantity (required)</label>
        <input type="text" class="form-control" id="quantity" name="quantity" value="{{selectedItem.quantity}}">
    </div>

    <div class="mb-3 form-check col-4 my-auto">
        <input type="checkbox" class="form-check-input mx-auto" id="exampleCheck1" name="isMagic" {{checked selectedItem.isMagic}}>
        <label class="form-check-label mx-auto" for="exampleCheck1">Magic Item? (Optional)</label>
    </div>
    <p></p>
    <div class="col">
        <button type="submit" class="btn btn-primary btn-lg col-2">Submit</button>
    </div>
</form>